<div class="container-fluid" >
    <header class="jumbotron my-4" style="background-image: url('https://image.tmdb.org/t/p/w1920_and_h600_multi_faces_filter(duotone,032541,01b4e4)/mn9k8zapebAbCqsiKf24juhXjjx.jpg')"> 

        <h1 class="display-3" style="color:white">BIENVENUE SUR MENUCINEMA</h1>
        <p class="lead"> Voici les propositions du Jour</p>
        <a href="#" class="btn btn-primary btn-lg">En savoir plus...</a>
      </header>
    
      <app-movies></app-movies>
      
        
</div>

    
  


